<div class="container-fluid">
        <h1 style="text-align: center">Class Management</h1>
        <div class="row form-group" style="margin: 0 auto; text-align: center; width: 30%">
                Filter by name: <input type="text" class="form-control" placeholder="Enter a name here..." ng-model="studentName" />
        </div>
        <div class="row form-group" style="margin: 0 auto; text-align: center; width: 30%">
                Filter name and country: <input type="text" class="form-control" placeholder="Search name and country here..." ng-model="searchText" />
        </div>
        <br />
        <add-student></add-student>
        <list-students></list-students>
</div>